<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Редактирование профиля</h4>
        <p class="card-category"></p>
    </div>
    <div class="card-body">
        <mat-form-field>
            <mat-label>id</mat-label>
            <input matInput type="text" [(ngModel)]="data.content.id" disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>classId</mat-label>
            <input matInput type="text" [(ngModel)]="data.content.classId" [disabled]="data.action === 'edit'">
        </mat-form-field>
        <mat-form-field>
            <mat-label>date</mat-label>
            <input matInput type="text" [(ngModel)]="data.content.date">
        </mat-form-field>
        <mat-form-field>
            <mat-label>roomId</mat-label>
            <input matInput type="text" [(ngModel)]="data.content.roomId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>subjectId</mat-label>
            <input matInput type="number" [(ngModel)]="data.content.subjectId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>teacherId</mat-label>
            <input matInput type="number" [(ngModel)]="data.content.teacherId">
        </mat-form-field>

    </div>
    <div class="card-footer">
        <button mat-mat-raised-button (click)="saveTimetable()" class="btn btn-danger pull-right"
                [mat-dialog-close]="true">Сохранить
        </button>
        <button mat-mat-raised-button class="btn btn-danger pull-right" mat-dialog-close>Отмена</button>
    </div>
</div>

