<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Пользователи</h3>
                <p class="card-category">Просмотр, редактирование, удаление записи</p>
                <button mat-icon-button  (click)="openDialog(null, 'add')">
                    <i class=" mat-raised-button">Добавить пользователя</i>
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="table">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- id Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Ид номер</th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <!-- arcfl Column -->
                        <ng-container matColumnDef="arcfl">
                            <th mat-header-cell *matHeaderCellDef> Активация</th>
                            <td mat-cell *matCellDef="let element"><input type="checkbox" [checked]="element.arcfl">
                            </td>
                        </ng-container>

                        <!-- login Column -->
                        <ng-container matColumnDef="login">
                            <th mat-header-cell *matHeaderCellDef> Логин</th>
                            <td mat-cell *matCellDef="let element"> {{element.login}} </td>
                        </ng-container>


                        <!-- role_id Column -->
                        <ng-container matColumnDef="role_id">
                            <th mat-header-cell *matHeaderCellDef> Ид роли</th>
                            <td mat-cell *matCellDef="let element"> {{element.role.name}} </td>
                        </ng-container>


                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                                        matTooltip="Редактировать" (click)="openDialog(element, 'edit')">
                                    <i class="material-icons">edit_calendar</i>
                                </button>
                                <button mat-icon-button color="primary" (click)="deleteUser(element.id)"
                                        aria-label="Example icon button with a home icon" matTooltip="Удалить">
                                    <i class="material-icons">delete_outline</i>
                                </button>

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </div>

                <mat-paginator  #paginator
                                [length]="length"
                                [pageIndex]="page"
                                [pageSize]="size"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                (page)="pageEvent = getServerData($event)"
                ></mat-paginator>
            </div>
        </div>
    </div>
</div>
