<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Список доступных ролей</h3>
                <p class="card-category">Распределити роли с умом!</p>
                <button mat-icon-button  (click)="openDialog(null, 'add')">
                    <i class=" mat-raised-button">Добавить роль</i>
                </button>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="table">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Ид номер</th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef> Код</th>
                            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Наименование</th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>


                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                                        matTooltip="Редактировать" (click)="openDialog(element, 'edit')">
                                    <i class="material-icons">edit_calendar</i>
                                </button>
                                <button mat-icon-button color="primary" (click)="deleteRoleById(element.id)"
                                        aria-label="Example icon button with a home icon" matTooltip="Удалить">
                                    <i class="material-icons">delete_outline</i>
                                </button>

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>



            </div>
        </div>
    </div>
</div>
