<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Справочник учеников школы</h3>
<!--                <p class="card-category">Преподователи-->

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="table">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> id</th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="user_id">
                            <th mat-header-cell *matHeaderCellDef> user_id</th>
                            <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="firstname">
                            <th mat-header-cell *matHeaderCellDef> Имя</th>
                            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="lastname">
                            <th mat-header-cell *matHeaderCellDef> Фамилия</th>
                            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                        </ng-container>
                        <ng-container matColumnDef="birthdate">
                            <th mat-header-cell *matHeaderCellDef> Дата рождения</th>
                            <td mat-cell *matCellDef="let element"> {{element.birthdate}} </td>
                        </ng-container>
                        <ng-container matColumnDef="group_id">
                            <th mat-header-cell *matHeaderCellDef> group_id</th>
                            <td mat-cell *matCellDef="let element"> {{element.group_id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Действия</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" matTooltip="Редактирование">
                                    <i class="material-icons" >edit_calendar</i>
                                </button>
                                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" matTooltip="Удалить">
                                    <i class="material-icons" >delete_outline</i>
                                </button>

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>



            </div>
        </div>
    </div>
</div>
